<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Feedback</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src='/jquery/dist/jquery.min.js'></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/ngkookies/ngKookies.min.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="canvasjs/dist/canvasjs.3.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="MyApp">

    <div id="main" ui-view>
        <div class='loginBox' ng-controller='LoginCtrl'>
            <div class='loginHeader'>Login</div>
            <input type='text' ng-model='login.email' placeholder="email">
            <input type='password' ng-model='login.password' placeholder="password">
            <div class='Button btn btn-success' ng-click='sendLogin(login)'>Submit</div>
            <span class='signupLink'><a ui-sref='signup'>Sign up for an account</a></span>
        </div>
    </div>

</body>
</html>
