<div class="container" id="poll">
  <div id="pqueue" class="container">
    <table class="table">
      <th colspan="2"><strong>Favorite Polls:</strong></th>
      <tr ng-repeat='poll in polls.favorite'>
        <td><span class='mainPollQuestion'>{{ poll.question }}</span></td>
        <td><i ng-if='true' class="btn btn-xs round btn-success glyphicon glyphicon-send" ng-click="sendPoll(poll)"></i></td>
      </tr>
    </table>
    <table class="table">
      <th colspan="3"><strong>Pending Polls:</strong></th>
      <tr ng-repeat='poll in polls.pending'>
      	<td><span class='mainPollQuestion'>{{ poll.question }}</span></td>
      	<td><i ng-if='true' class="btn btn-xs round btn-danger glyphicon glyphicon-remove" ng-click="delete(poll)"></i></td>
  		  <td><i ng-if='true' class="btn btn-xs round btn-success glyphicon glyphicon-send" ng-click="sendPoll(poll)"></i></td>
      </tr>
    </table>
  </div>
</div>
