<!doctype html>
<html>
    <head>
    </head>
    <body>
        <div id="student">
            <div ng-controller="StudentPoll">
                <div class="content">

                    <div class="classHeader">Promises and Arrays</div>
                    <div class="classInstructor">Omri Bernstein</div>

                    <div class="primaryButtonRow">
                        <feedback></feedback>
                    </div>

                    <div ng-if='curLecture' class="questionQueue">
                        <question></question>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
