<!doctype html>
<html>
    <head>
    </head>
    <body>
        <div id="student">
            <div class="content">
                <div ng-controller="StudentPoll" id="studentBody">

                    <div class="classHeader">
                        <img src="./images/send-symbol-white.png">
                        <div class='backButtonSpace'></div> 
                        <div class='middleBox'>
                            <div class="classHeaderText">{{curLecture.name}}</div>
                        </div>
                        <div class='backButtonSpace'></div> 
                        <div class='backButtonSpace'></div> 
                    </div> 
                    <div class="spacer"></div>

                    <div ng-if='!curLecture.startTime' class='noClass'>
                        The lecture has not begun
                    </div>
                    
                    <div ng-if='curLecture.endTime' class='noClass'>
                        The lecture has ended
                    </div>

                    <div ng-if='curLecture.startTime && !curLecture.endTime' class='activeClass'>
                        <div class="primaryButtonRow">
                            <feedbackstudent></feedbackstudent>
                        </div>
                        <div class="questionQueue">
                            <question></question>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
