<div id="survey-modal">
  <div class="modal-header">
    <h1>{{ poll.question }}</h1>
  </div>
  <div class='container'>
    <div ng-repeat="option in poll.options" class="pollOption">
    	<span class='row'>{{ option.category }}</span>

      <div class="rating" ng-hide="option.index" && selectedRepeat ==$index && starredArr[$index]">
      <span ng-click="itemClicked(5, option, $index)">☆</span>
      <span ng-click="itemClicked(4, option, $index)">☆</span>
      <span ng-click="itemClicked(3, option, $index)">☆</span>
      <span ng-click="itemClicked(2, option, $index)">☆</span>
      <span ng-click="itemClicked(1, option, $index)">☆</span>
      </div>

      <div class="rating" ng-if="option.index===1 && selectedRepeat==$index && starredArr[$index]">
      <span ng-click="itemClicked(5, option, $index)">☆</span>
      <span ng-click="itemClicked(4, option, $index)">☆</span>
      <span ng-click="itemClicked(3, option, $index)">☆</span>
      <span ng-click="itemClicked(2, option, $index)">☆</span>
      <span ng-click="itemClicked(1, option, $index)">&#9733</span>
      </div>

      <div class="rating" ng-if="option.index===2 && selectedRepeat==$index" >
      <span ng-click="itemClicked(5, option, $index)">☆</span>
      <span ng-click="itemClicked(4, option, $index)">☆</span>
      <span ng-click="itemClicked(3, option, $index)">☆</span>
      <span ng-click="itemClicked(2, option, $index)">&#9733</span>
      <span ng-click="itemClicked(1, option, $index)">&#9733</span>
      </div>

      <div class="rating" ng-if="option.index===3 && selectedRepeat==$index">
      <span ng-click="itemClicked(5, option, $index)">☆</span>
      <span ng-click="itemClicked(4, option, $index)">☆</span>
      <span ng-click="itemClicked(3, option, $index)">&#9733</span>
      <span ng-click="itemClicked(2, option, $index)">&#9733</span>
      <span ng-click="itemClicked(1, option, $index)">&#9733</span>
      </div>

      <div class="rating" ng-if="option.index===4 && selectedRepeat==$index">
      <span ng-click="itemClicked(5, option, $index)">☆</span>
      <span ng-click="itemClicked(4, option, $index)">&#9733</span>
      <span ng-click="itemClicked(3, option, $index)">&#9733</span>
      <span ng-click="itemClicked(2, option, $index)">&#9733</span>
      <span ng-click="itemClicked(1, option, $index)">&#9733</span>
      </div>

      <div class="rating" ng-if="option.index===5 && selectedRepeat==$index">
      <span ng-click="itemClicked(5, option, $index)">&#9733</span>
      <span ng-click="itemClicked(4, option, $index)">&#9733</span>
      <span ng-click="itemClicked(3, option, $index)">&#9733</span>
      <span ng-click="itemClicked(2, option, $index)">&#9733</span>
      <span ng-click="itemClicked(1, option, $index)">&#9733</span>
      </div>

    </div>
  </div>
  <div class='container'>
  	<button class='btn btn-success' ng-click="submit()">Submit</button>
  </div>
</div>
