#summary {
    height: 100%;
    .classHeader {
      text-align: center;
      height: 14%;
      color: #fff;
      background-color: #00a0c3;
      width: 100%;
    }
    .classHeaderText {
        font-size: 64px;
    }
    img {
      padding-top: 2%;
      float: left;
      width: 5%;
      margin-left: 2%;
      height: 70%;
    }
    .middleBox {
        padding-top: 1%;
        width: 72%;
        float: left;
    }
    .backButtonSpace {
        width: 7%;
        float: left;
        height: 100%;
    }
    .content {
        background-color: lightgray;
        height: 130%;
    }
    .backButton {
        padding-top: 2%;
        width: 7%;
        float: left;
        height: 100%;
        cursor: pointer;

        .mdsize {
            font-size: 48px;
        }
    }

    .chart {
      width: 90%;
      height: 60%;
      margin-top: 2%;
      background-color: white;
      margin: 0% 5% 2% 5%;
      border-radius: 6px;
      .header {
        height: 10%;
        width: 100%;
        background-color: darkgray;
        color: white;
        margin-top:1%;
        margin-left: 0px;
        font-family: sans-serif;
        font-size: 125%;
        border-radius: 5px 5px 0 0;
        .chart-title {
          font-family: sans-serif, Arial;
          font-style: oblique;
          font-size: 1.5vw;
          padding-top:1px;
          margin-top: 0.5vw;
          margin-bottom: 2vw;
          margin-right: 1.5vw;
          margin-left: 1.5vw;
        }
      }
      .select-toggle {
        margin-right: 5%;
      }
      .select {
        width: 20%;
        height:100%;
        margin:0;
        margin-right: 3%;
        padding:0;
        display: block;
        .btn-default {
          margin: 0;
          padding: 0;
          height: 15%;
          width: 30%;
        }
        .btn-compare {
          background-color: #00a0c3;
        }
        .btn-remove {
          background-color: #00a0c3;

        }
        .container {
          margin:0;
          padding: 0;
          width:100%;
          .remove {
            margin-left: 0%;
            margin-top: 0.5vw;
          }
          .lecture-name {
            font-family: sans-serif, Arial;
            font-style: oblique;
            // font-color: #;
            color: #000;
          }
        }
        select {
          width: 70%;
          margin-bottom: 5%;
          margin-left: 1%;
        }
      }
      #select-lecture {
        margin-top: 4%;
        margin-left: 5%;
      }
      .time-series {
        margin-left: 0%;
      }
    }
}
