#student {
    height: 100%;
    .content {
        background-color: white;
        margin-right: 20%;
        margin-left: 20%;
        height: 100%;
        overflow: hidden;
    }
    .classHeader {
        font-size: 42px;
        text-align: center;
        padding: 5% 0 0 0;
        color: #015249;
    }
    .classInstructor {
        font-size: 24px;
        text-align: center;
        padding: 1% 0 5% 0;
        color: #015249;
    }
    .noClass {
        color: white;
        background-color: darkGray;
        font-size: 24px;
        height: 70%;
        text-align: center;
        padding-top: 30%;
        margin: 0 20% 0 20%;
        width: 60%;
    }
    .primaryButtonRow {
        width: 50%;
        margin: 0 25% 5% 25%;
    }
    .questionQueue {
        height: 55%;
        background-color: white;
        margin: 0 20% 5% 20%;
        border-radius: 10px;
        overflow-y: auto;
        border: medium solid #015249;
    }
    #studentBody {
        height: 100%;
    }
}