#student {
    height: 100%;
    .content {
        background-color: white;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .noClass {
        color: white;
        background-color: darkGray;
        font-size: 24px;
        height: 70%;
        text-align: center;
        padding-top: 30%;
        margin: 0 20%;
        width: 60%;
    }
    .activeClass {
        height: 80%;
        overflow: hidden
    }
    .primaryButtonRow {
        width: 80%;
        margin: 0 10%;
        height: 32%;
        overflow: hidden;
    }
    .questionQueue {
        height: 65%;
        margin: 0 15%;
        border-radius: 10px;
        border: medium solid #00a0c3;
        overflow: hidden;
    }
    #studentBody {
        width: 100%;
        height: 100%;
    }
    .spacer {
        height: 5%;
        width: 100%;
    }
    .container {
        color: black;
        height: 85%;
        overflow: hidden;
    }
    .classHeader {
        text-align: center;
        color: white;
        height: 13%;
        background-color: #00a0c3;
        width: 100%;

        img {
            padding-top: 2%;
            float: left;
            width: 5%;
            margin-left: 2%;
            height: 70%;
        }

        .middleBox {
            padding-top: 2%;
            width: 72%;
            float: left;
        }

        .classHeaderText {
            font-size: 42px;
        }
        .backButtonSpace {
            width: 7%;
            float: left;
            height: 100%;
        }

        .backButton {
            padding-top: 2%;
            width: 7%;
            float: left;
            height: 100%;
            cursor: pointer;

            .mdsize {
                font-size: 48px;
            }
        }
        .backButton:hover {
            background-color: #00b9b9;
        }
    }
    color: white;
    h3 {
        float: left;
    }
    .tableDiv {
        background-color: darkGray;
        padding: 0 10px 10px 10px;
        border-radius: 5px;
        .col-30 {
            width: 30%;
        }
    }
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  font-size: 30px;
}
.rating > span {
  display: inline-block;
  text-align: left;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before,
.ratingChecked {
   content: "\2605";
   position: absolute;
   pointer-events:auto;
   cursor:pointer;
}

.ratingSelected:before {
    content: "\2605";
    position: absolute !important;
}