#like-feedback {
    font-size: 40px;
}

#confused-feedback {
    font-size: 40px;
}

#code-feedback {
    font-size: 30px;
}

.glyphicon.glyph-bg {
    font-size: 60px;
}

.glyphicon.glyph-sm {
    font-size: 20px;
}

.container {
  width: 100%;
}

.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 10px;
  font-size: 40px;
  line-height: 1.33;
  border-radius: 50px;
}

.badge.badge-notify{
   background:red;
   position:relative;
   bottom: 100px;
   right: -70px;
   font-size: 15px;
}

.badge.badge-notify-sm{
   width: 20px;
   height: 20px;
   background:red;
   position:relative;
   bottom: 13px;
   right: 15px;
   font-size: 12px;
   line-height: 19px;
}

.center {
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-xl .tooltiptext {
    visibility: hidden;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 2px 6px;
    border-radius: 6px;
    top: 100%;
    left: 50%; 
    margin-left: -100px;
    position: absolute;
    font-size: 15px;
    z-index: 1;
}

.btn-xl:hover .tooltiptext {
    visibility: visible;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-sm .tooltiptext {
    visibility: hidden;
    background-color: gray;
    color: #fff;
    text-align: center;
    top: 70%;
    left: 50%; 
    margin-left: -100px;
    position: absolute;
    font-size: 15px;
    z-index: 1;
}

.btn-circle-sm:hover .tooltiptext {
    visibility: visible;
}

.badge {
  padding: 0;
  height: 30px;
  width: 30px; 
  border-radius: 15px;
  line-height: 30px;
}

.badge:empty {
  visibility: hidden;
  display: inline-block;
}