#instructor {
    height:100%;
    .launch-panel {
      width:144px;
      height:30px;
      border-radius: 25px;
      border-color: #014A5B;
      overflow: hidden;
      align-self: center;
    }
    #socketCounter {
      background-color: yellow;
      color: black;
    }
    .launchRow {
        width: 144px;
        margin-left:auto;
        margin-right:auto;
        border-radius: 1px;
        margin-bottom: 1%;
    }
    .googleButton {
        width: 72px;
        text-align: center;
        height: 100%;
        float:left;
        height: 30px;
        align-self: center;
    }
    .start{
        background-color: green;
        color: white;
        text-align: center;
        cursor: pointer;
        line-height: 30px;
        vertical-align: middle;
        font-size: 12px;
        border-radius: 1px;
    }
    .content {
        background-color: lightgray;
        height: 98%;
        overflow: hidden;
    }
    .classHeader {
        text-align: center;
        color: white;
        height: 13%;
        background-color: #00a0c3;
        width: 100%;

        img {
            padding-top: 2%;
            float: left;
            width: 5%;
            margin-left: 2%;
            height: 70%;
        }

        .middleBox {
            padding-top: 0.5%;
            width: 72%;
            float: left;

        }

        .classHeaderText {
            font-size: 42px;
        }
        .backButtonSpace {
            width: 7%;
            float: left;
            height: 100%;
        }

        .backButton {
            padding-top: 2%;
            width: 7%;
            float: left;
            height: 100%;
            cursor: pointer;

            .mdsize {
                font-size: 48px;
            }
        }
        .backButton:hover {
            background-color: #00b9b9;
        }
    }
    .classInstructor {
        font-size: 24px;
        text-align: center;
        padding: 1% 0 1% 0;
        color: white;
    }
    .leftSection {
        height:83%;
        width: 44%;
        float: left;
        margin-left: 3%;
    }
    .rightSection {
        height:83%;
        width: 44%;
        margin-left: 53%;
        overflow: hidden
    }
    .feedbackSection {
        height: 34%;
        width: 100%;
    }
    .pollSection {
        height: 60%;
        width: 100%;
    }
    .primaryButtonRow {
        width: 100%;
        height: 32%;
        border-radius: 0 0 5px 5px;
        padding: 1% 0 1% 0;
        border: thin solid darkGray;
        border-top: none;
    }
    .featureBar {
        height: 70%;
    }
    .chart {
        width: 100%;
        height: 68%;
        .canvasjs-chart-credit {
           display: none;
        }
    }
    #chartCode {
        height: 100%;
        background-color: #00a0c3;
        border-color: #00a0c3;
    }
    .rightHeader {
        height: 6%;
        width: 100%;
        background-color: darkGray;
        color: white;
        padding-left: 2%;
        font-family: sans-serif;
        padding-top: 1%;
        font-size: 125%;
        border-radius: 5px 5px 0 0;
        button {
            height: 80%;
            float: right;
            margin: 0 1% 1% 0;
            padding: 0 1%;
        }
    }
    .questionQueue {
        height: 94%;
        width: 100%;
        background-color: white;
        border-radius: 0 0 5px 5px;
    }
    .spacer {
        height: 2%;
        width: 100%;
    }
    .spacerBottom {
        height: 2%;
        width: 100%;
        background-color: #545454;
    }
    .activePoll {
        width: 100%;
        height: 15%;
        background-color: white;
        border-radius: 0 0 5px 5px;
    }
    .activeClass {
        height: 100%;
    }
    .pollQueue {
        width: 100%;
        height: 29%;
        background-color: white;
        border-radius: 0 0 5px 5px;
        padding-bottom: 10px;
    }
    .noClass {
        color: white;
        background-color: darkGray;
        font-size: 24px;
        height: 50%;
        text-align: center;
        padding-top: 15%;
        margin: 0 20% 0 20%;
        width: 60%;
        border-radius: 5px;
        border-color: #014A5B;
    }
}

#createLecture {
    height: 500px;
    .modal-header {
        text-align: center;
        border-bottom: none;
    }
    .modal-footer {
        border-top: none;
    }
    .mainQuestion {
        font-size: 24px;
        padding: 5%;
        margin-bottom: 5%;
    }
}

#lectures {
    height:100%;
    .spacer {
        height: 2%;
        width: 100%;
        background-color: lightgray;
    }
    .container {
        background-color: lightgray;
        height: 85%;
        overflow: hidden;
        padding: 0;
    }
    .classHeader {
        text-align: center;
        color: white;
        height: 13%;
        background-color: #00a0c3;
        width: 100%;

        img {
            padding-top: 2%;
            float: left;
            width: 5%;
            margin-left: 2%;
            height: 70%;
        }

        .middleBox {
            padding-top: 2%;
            width: 72%;
            float: left;
        }

        .classHeaderText {
            font-size: 42px;
        }
        .backButtonSpace {
            width: 7%;
            float: left;
            height: 100%;
        }

        .backButton {
            padding-top: 2%;
            width: 7%;
            float: left;
            height: 100%;
            cursor: pointer;

            .mdsize {
                font-size: 48px;
            }
        }
        .backButton:hover {
            background-color: #00b9b9;
        }
    }
    color: white;
    h3 {
        float: left;
    }
    .tableDiv {
        background-color: lightGray;
        height: 85%;
        overflow: hidden;
        color: black;
    }
    .mainTable{
        height: 95%;
        width: 45%;
        float: left;
        margin: 0 2.5% 0 2.5%; 
        border-radius: 10px;
        overflow: hidden;
        border: thin solid darkGray;
        tbody {
            background-color: white;
            overflow-y: auto;
            display: block;
            width: 100%;
            tr {
                width: 100%;
            }
            .tableName {
                width: 30%;
            }
            .tableID {
                width: 10%;
            }
            .tableDate {
                width: 50%;
            }
            .tableBtn {
                width: 10%;
            }
        }
    } 
    .btn-info{
        margin: 3% 0 3% 0;
        float: right;
    }
    .table, tbody {
        height: 100%;
    }
    .tableHeader {
        background-color: darkGray;
        height: 10%;
        padding: 0 2%;
        color: white;
    }
    .tableFooter {
        background-color: lightGray;
        height: 5%;
    }
}
