html, body, #main{
    height: 100%;
    margin: 0;
    // background-color: #015249;
    background: url("./images/paper_planes.jpg") no-repeat center center fixed;
}
#student-login {
  background-color: #015249;
}
#instructor-login {
  background-color: #015249;
}
.loginBox {
    width: 40%;
    margin: 10% 30%;
    color: white;
}
.loginBox input{
    width: 100%;
    margin-bottom: 5%;
    color: black;
    padding: 2%;
    font-size: 16px;
}
.loginBox .lectureInput{
    width: 60%;
    margin: 0 20% 15% 20%;
    color: black;
    padding: 2%;
    font-size: 16px;
}
.loginButton{
    width: 50%;
    margin: 0 25% 0 25%;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    color: white;
    border: medium solid white;
}
.loginHeader {
    text-align: center;
    margin-bottom: 5%;
    font-size: 30px;
}

.signupLink {
    float: right;
    a {
        color: white;
    }
}
