<div id="lectures">
  <div class="classHeader">
    <img src="./images/send-symbol.png">
    <div class='backButtonSpace'></div> 
    <div class='middleBox'>
        <div class="classHeaderText">Welcome, {{user.first_name}}!</div>
    </div>
    <div class='backButtonSpace'></div> 
    <div class='backButton' ng-click="logout()"><i class="material-icons mdsize">exit_to_app</i></div>
  </div>  
  <div class="spacer"></div>
  <div class="container">
    <div class='tableDiv'>
      <table class="table" id="new-lecture">
        <h3>Pending Lectures</h3>
        <tr ng-repeat='lecture in activelecturelist'>
          <td class="col-30">Lecture: {{ lecture.name }}</td>
          <td>ID: {{ lecture.id }}</td>
          <td>Date: {{ lecture.createdAt | date:'medium'}}</td>
          <td><i class="btn btn-xs round btn-success glyphicon glyphicon-play" ng-click="lectureView(lecture)"></i></td>
          <td><i class="btn btn-xs round btn-danger glyphicon glyphicon-remove" ng-click="deleteLecture(lecture.id)"></i></td>
        </tr>
      </table>
      <button class='btn btn-info' type="submit" ng-click="createLectureModal()">Add New Lecture</button>
    </div>
    <br>
    <div class='tableDiv'>
      <table class="table" id="old-lecture">
        <h3>Past Lectures</h3>
        <tr ng-repeat='lecture in pastlecturelist'>
          <td class="col-30">Lecture: {{ lecture.name }}</td>
          <td>ID: {{ lecture.id }}</td>
          <td>Date: {{ lecture.createdAt | date:'medium'}}</td>
          <td><i class="btn btn-xs round btn-success glyphicon glyphicon-equalizer" ng-click="summaryView(lecture)"></i></td>
          <td><i class="btn btn-xs round btn-danger glyphicon glyphicon-remove" ng-click="deleteLecture(lecture.id)"></i></td>
        </tr>
      </table>
    </div>
  </div>
</div>