<div class="container" id="lectures">
  <button id='logoutButton' class='btn btn-danger' type="submit" ng-click='logout()'>Log out</button>
  <h1>Welcome, {{ user.first_name }}!</h1>
  <div class="container">
    <div class='tableDiv'>
      <table class="table" id="new-lecture">
        <h3>Pending Lectures</h3>
        <tr ng-repeat='lecture in activelecturelist'>
          <td>{{ lecture.name }}</td>
          <td>{{ lecture.createdAt | date:'medium'}}</td>
          <td><i ng-if='true' class="btn btn-xs round btn-success glyphicon glyphicon-play" ng-click="lectureView(lecture)"></i></td>
        </tr>
      </table>
      <button class='btn btn-info' type="submit" ng-click="createLectureModal()">Add New Lecture</button>
    </div>
    <br>
    <div class='tableDiv'>
      <table class="table" id="old-lecture">
        <h3>Past Lectures</h3>
        <tr ng-repeat='lecture in pastlecturelist'>
          <td>{{ lecture.name }}</td>
          <td>{{ lecture.updatedAt | date:'medium' }}</td>
          <td><i ng-if='true' class="btn btn-xs round btn-success glyphicon glyphicon-equalizer" ng-click="summaryView(lecture)"></i></td>
        </tr>
      </table>
    </div>
  </div>
</div>