<div id="createLecture">
  <div class="modal-header">
    <h1>Create Lecture</h1>
  </div>
  <div class="modal-body">
    <input class="mainQuestion form-control" type="text" ng-model='lecture.name' placeholder='Lecture Title'>
    <select class='fullwidth' ng-model='lecture.lecturer' ng-options= 'name for (name, email) in instructorEmails'>
    </select>
  </div>
  <div class="modal-footer">
      <button class="btn btn-success" ng-click='submitLecture()'>Submit</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>
