#poll {
	max-width: 100%;
	input {
		width: 80%;
		float: left;
	};
  h1 {
    float: left;
  }
	button {
    width: 20%;
    margin-top: 20px;
    float: right;
	};
	.btn-xs {
		border-radius: 20px;
	};
}

#active {
	height: 100%;
}
