#poll {
	max-width: 100%;
	input {
		width: 80%;
		float: left;
	};
  h1 {
    float: left;
  }
	button {
    width: 20%;
    margin-top: 20px;
    float: right;
	};
	.btn-xs {
		border-radius: 20px;
	};
}

#active {
	height: 100%;
}

#nopoll {
	font-size: 30px;
	margin-top: 25px;
	text-align: center;
}

#active-poll {
	text-align: center;
	li {
		display: inline;
    list-style-type: none;
	};
	#active-poll-title {
		font-size: 24px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

#student-modal {
	.modal-body {
		#answers {
			float: left;
			// input {
			// 	display: inline;
			// };
		};
	}
}
