<div id= "instructorFeedback">
	<div class="btn-container">
		<center>
		<div class="col-xs-2">
			<center>
			<button type="button" ng-click="submitFeedback('great')" id="like-feedback" class="btn btn-default btn-circle-sm mainBtn"> 
				<span class="glyphicon glyph-sm glyphicon-thumbs-up"></span>
				<span class="tooltiptext" ng-if="admin">Clear feedback</span>
				<span class="tooltiptext" ng-if="!admin">Feeling good?</span>
			</button>
			</center>
			<span class="badge badge-notify-sm">{{greatCount}}</span>
		</div>
		</center>
		<center>
		<div class="col-xs-2">
			<center>
			<button type="button" ng-click="submitFeedback('confused')" id="confused-feedback" class="btn btn-default btn-circle-sm mainBtn">
				<span class="glyphicon glyph-sm glyphicon-question-sign"></span>
				<span class="tooltiptext" ng-if="admin">Clear feedback</span>
				<span class="tooltiptext" ng-if="!admin">Feeling confused?</span>
			</button>
			</center>
				<span class="badge badge-notify-sm">{{confusedCount}}</span>
		</div>
		</center>
		<center>
		<div class="col-xs-2">
			<center>
			<button type="button" ng-click="submitFeedback('example')" id="code-feedback" class="btn btn-default btn-circle-sm  mainBtn">
				<span class="glyphicon glyph-md glyphicon-edit"></span>
				<span class="tooltiptext" ng-if="admin">Clear feedback</span>
				<span class="tooltiptext" ng-if="!admin">Want an example?</span>
			</button>
			</center>
			<span class="badge badge-notify-sm">{{exampleCount}}</span>
		</div>
		</center>
		<center>
		<div class="col-xs-2">
			<center>
			<button type="button" ng-click="submitFeedback('see')" class="btn btn-default btn-circle-sm"> 
				<span class="glyphicon glyph-sm glyphicon-eye-close"></span>
				<span class="tooltiptext" ng-if="admin">Clear feedback</span>
				<span class="tooltiptext" ng-if="!admin">Can't See?</span>
			</button>
			</center>
			<span class="badge badge-notify-sm">{{seeCount}}</span>
		</div>
		</center>
		<center>
		<div class="col-xs-2">
			<center>
			<button type="button" ng-click="submitFeedback('hear')" class="btn btn-default btn-circle-sm">
				<span class="glyphicon glyph-sm glyphicon-bullhorn"></span>
				<span class="tooltiptext" ng-if="admin">Clear feedback</span>
				<span class="tooltiptext" ng-if="!admin">Can't Hear?</span>
			</button>
			</center>
			<span class="badge badge-notify-sm">{{hearCount}}</span>
		</div>
		</center>
		<center>
		<div class="col-xs-2">
		<center>
			<button type="button" ng-click="submitFeedback('break')" class="btn btn-default btn-circle-sm">
				<span class="glyphicon glyph-sm glyphicon-pause"></span>
				<span class="tooltiptext" ng-if="admin">Clear feedback</span>
				<span class="tooltiptext" ng-if="!admin">Want a break?</span>
			</button>
		</center>
			<span class="badge badge-notify-sm">{{breakCount}}</span>
		</div>
		</center>


		<div>
			<p ng-show="!clickedMessage && !rejectClickMessage">
				<br>
			</p>
			<p class='flashMessage text-center' ng-show="clickedMessage && !admin"> 
				Your feedback has been noted
			</p>
			<p class='flashMessage text-center' ng-show="rejectClickMessage && !admin"> 
				You must wait 30 seconds before giving back the same feedback
			</p>
			<p class='flashMessage text-center' ng-show="clickedMessage && admin"> 
				You have cleared the feedback count in this category
			</p>
			<p class='flashMessage text-center' ng-show="rejectClickMessage && admin"> 
				You must wait 30 seconds before clearing the feedback count again for this category
			</p>
		</div>
	</div>
</div>