<div class="container">
	<div>
		<div class="btn-container">
			<div class="col-lg-4">
				<button type="button" ng-click="submitFeedback('Great')" id="like-feedback" class="btn btn-success btn-circle btn-xl"> 
					<span class="glyphicon glyph-bg glyphicon-thumbs-up"></span>
					<span class="tooltiptext">Feeling good?</span>
				</button>
				<span class="badge badge-notify">{{greatCount}}</span>
			</div>
			<div class="col-lg-4">
				<button type="button" ng-click="submitFeedback('Confused')" id="confused-feedback" class="btn btn-warning btn-circle btn-xl">
					<span class="glyphicon glyph-bg glyphicon-question-sign"></span>
					<span class="tooltiptext">Feeling confused?</span>
				</button>
				<span class="badge badge-notify">{{confusedCount}}</span>
			</div>
			<div class="col-lg-4">
				<button type="button" ng-click="submitFeedback('Example')" id="code-feedback" class="btn btn-info btn-circle btn-xl">
					<span class="glyphicon glyph-bg glyphicon-edit"></span>
					<span class="tooltiptext">Want an example?</span>
				</button>
				<span class="badge badge-notify">{{exampleCount}}</span>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div>
		<div class="btn-container">
			<center>
			<div class="col-xs-3">
				<center>
				<button type="button" ng-click="submitFeedback('Cannot See')" class="btn btn-default btn-circle-sm"> 
					<span class="glyphicon glyph-sm glyphicon-eye-close"></span>
					<span class="tooltiptext">Can't See?</span>
				</button>
				</center>
				<span class="badge badge-notify-sm">{{seeCount}}</span>
			</div>
			</center>
			<center>
			<div class="col-xs-3">
				<center>
				<button type="button" ng-click="submitFeedback('Cannot Hear')" class="btn btn-default btn-circle-sm">
					<span class="glyphicon glyph-sm glyphicon-bullhorn"></span>
					<span class="tooltiptext">Can't Hear?</span>
				</button>
				</center>
				<span class="badge badge-notify-sm">{{hearCount}}</span>
			</div>
			</center>
			<center>
			<div class="col-xs-3">
			<center>
				<button type="button" ng-click="submitFeedback('Request Break')" class="btn btn-default btn-circle-sm">
					<span class="glyphicon glyph-sm glyphicon-pause"></span>
					<span class="tooltiptext">Want a break?</span>
				</button>
			</center>
				<span class="badge badge-notify-sm">{{breakCount}}</span>
			</div>
			</center>
		</div>
	</div>
</div>

<div>
	<p ng-show="!addMessage && !rejectMessage">
		<br>
	</p>
	<p class='flashMessage text-center' ng-show="addMessage && !admin"> 
		Your feedback has been noted
	</p>
	<p class='flashMessage text-center' ng-show="rejectMessage && !admin"> 
		You must wait 30 seconds before giving back the same feedback
	</p>
	<p class='flashMessage text-center' ng-show="addMessage && admin"> 
		You have cleared the feedback count in this category
	</p>
	<p class='flashMessage text-center' ng-show="rejectMessage && admin"> 
		You must wait 30 seconds before clearing the feedback count again for this category
	</p>
</div>