#queue {
	height:100%;
	width: 100%;
	margin-bottom: 10px;
	input {
		width: 80%;
		float: left;
	};
	button {
		width: 20%;
		float: right;
	};
	.btn-xs {
		float: right;
		border-radius: 20px;
	};
	td {
		border:none;
	}
	.wordWrap {
		font-size: 18px;
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
	#add-question {
		height: 10%;
		width: 100%;
		h1 {
			float: left;
			font-size: 20px;
		};
	};
	#qqueue {
		height: 82%;
		width: 100%;
		overflow-y: auto;
		table {
			width:100%;
		};
	};
}
