#queue {
	width: 100%;
	input {
		width: 80%;
		float: left;
	};
	button {
		width: 20%;
		float: right;
	};
	.btn-xs {
		float: right;
		border-radius: 20px;
	};
	.wordWrap {
		color: blue;
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
}
