<div id='homepage'>
	<div class="classHeader">
	    <img src="./images/send-symbol.png">
	    <div class='backButtonSpace'></div> 
	    <div class='middleBox'>
	        <div class="classHeaderText">Feedstack</div>
	    </div>

	    <div class='backButtonSpace'></div> 
	    <div class='backButtonSpace'></div> 
	</div>  
	<div class="bodySlide">
		<div class='loginBox' ng-controller='LoginCtrl'>
			<div class="spacer"></div>
			<div class="leftBody">
			    <div class='loginHeader'>Admin Login</div>
			    <input type='text' ng-model='login.email' placeholder="email">
			    <input type='password' ng-model='login.password' ng-keyup="$event.keyCode == 13 ? sendLogin(login) : null" placeholder="password">
			    <div class='Button btn btn-success' ng-click='sendLogin(login)'>Submit</div>
			    <div class='Button btn btn-success signupLink'><a ui-sref='signup'>Sign Up</a></div>
			</div>
			<div class="rightBody">
		    	<div class='loginHeader'>Go to Lecture</div>
		    	<div class='lectureEnter'>
		    		<input class='lectureInput' ng-model='lectureRoom' ng-keyup="$event.keyCode == 13 ? lectureView(lectureRoom) : null" placeholder="Lecture ID">
		    		<div class='lectureBtn Button btn btn-success' ng-click='lectureView(lectureRoom)'><i class="material-icons">play_arrow</i></div>
		    	</div>
			</div>
		</div>
	</div>	
	<div class="footerSlide"></div>
</div>