<!doctype html>
<html>
    <head> 
    </head>
    <body>
        <div id="summary">
            <div class="content">
                
                <div class="classHeader">Promises and Arrays</div>
                <div class="classInstructor">Omri Bernstein</div>

                <div class="video"></div>
                <div class="chart"></div>
                <div class="questionQueue">
                    <question></question>
                </div>
                <div class="pollQueue">
                    <poll></poll>
                </div>

            </div>
        </div>
    </body>
</html>
