<!doctype html>
<html>
    <head>
    </head>
    <body>
        <div id="summary">
            <div class="content">

                <div class="classHeader">Promises and Arrays</div>
                <div class="classInstructor">Omri Bernstein</div>

                <div class="video">
                    <iframe src="https://www.youtube.com/embed/pBI6rqRP3RA" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="chart">

                </div>
                <div class="questionQueue">
                    <!-- <question></question> -->
                </div>
                <div class="pollQueue">
                    <!-- <poll></poll> -->
                </div>

            </div>
        </div>
    </body>
</html>
