<div id="createPoll">
  <div class="modal-header">
    <h1>Create a Poll</h1>
  </div>
  <div class="modal-body">
    <input class="mainQuestion form-control" type="text" ng-model='newPoll' placeholder='Enter Poll/Question Title'>
    <div>
      <input class="option form-control" type="text" ng-model="a" placeholder="Answer 1">
      <input class="option form-control" type="text" ng-model="b" placeholder="Answer 2">
      <input class="option form-control" type="text" ng-model="c" placeholder="Answer 3">
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-success" ng-click='submitPoll()'>Submit</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>
