<!doctype html>
<html>
    <head>
    </head>
    <body>
        <div id='instructor'>
            <div class="content">

                <div class="classHeader">Promises and Arrays</div>

                <div class="launchRow">
                    <div class="googleButton">
                        <div id="startButton2"></div>
                    </div>
                    <div class="start googleButton">Begin</div>
                </div>

                <div ng-if='!curLecture' class='noClass'>
                        The lecture has not begun
                    </div>

                <div ng-if='curLecture' class='activeClass'>
                    <div class="primaryButtonRow">
                        <feedback admin="true"></feedback>
                    </div>

                    <div class="chart">
                        <div id='chartCode'></div>
                    </div>

                    <div class="questionQueue">
                        <question admin="true" lecture='curLecture'></question>
                    </div>

                    <div class="activePoll">
                      <active-poll lecture="curLecture"></active-poll>
                    </div>

                    <div class="pollQueue">
                        <poll lecture="curLecture"></poll>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
