<!doctype html>
<html>
    <head>
    </head>
    <body>
        <div id='instructor'>
            <div class="content">

                <div class="classHeader">Promises and Arrays</div>
                <div class="classInstructor">Omri Bernstein</div>

                <div id="googleButton">
                    <div id="startButton2"></div>
                </div>
                <div class="start">Start</div>

                <div class="primaryButtonRow">
                    <feedback></feedback>
                </div>

                <div class="chart">
                    <div id='chartCode'></div>
                </div>
                
                <div class="questionQueue">
                    <question admin="true"></question>
                </div>

                <div class="activePoll">
                  <active-poll></active-poll>
                </div>

                <div class="pollQueue">
                    <poll></poll>
                </div>

            </div>
        </div>
        <script src='/js/views/instructor/instructor.js'></script>
    </body>
</html>
